<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd    
       http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">
       
   	   <import resource="classpath:ar/com/futbolprode/negocio/logica/hibernate/hibernate-spring.xml"/>
   	   <bean id="grupoDao" class="ar.com.futbolprode.negocio.logica.dao.impl.GrupoDaoImpl" >                                   
              <property name="hibernateTemplate" ref="prodeHibernateTemplate"/>
       </bean>
   	   <bean id="jugadaDao" class="ar.com.futbolprode.negocio.logica.dao.impl.JugadaDaoImpl" >                                   
              <property name="hibernateTemplate" ref="prodeHibernateTemplate"/>
       </bean>
       <bean id="torneoDao" class="ar.com.futbolprode.negocio.logica.dao.impl.TorneoDaoImpl" >                                   
              <property name="hibernateTemplate" ref="prodeHibernateTemplate"/>
       </bean>
       <bean id="clubDao" class="ar.com.futbolprode.negocio.logica.dao.impl.ClubDaoImpl" >                                   
              <property name="hibernateTemplate" ref="prodeHibernateTemplate"/>
       </bean>
       <bean id="torneoClubDao" class="ar.com.futbolprode.negocio.logica.dao.impl.TorneoClubDaoImpl" >                                   
              <property name="hibernateTemplate" ref="prodeHibernateTemplate"/>
       </bean>
       <bean id="estadoClubDao" class="ar.com.futbolprode.negocio.logica.dao.impl.EstadoClubDaoImpl" >                                   
              <property name="hibernateTemplate" ref="prodeHibernateTemplate"/>
       </bean>
       <bean id="estadoTorneoDao" class="ar.com.futbolprode.negocio.logica.dao.impl.EstadoTorneoDaoIml" >                                   
              <property name="hibernateTemplate" ref="prodeHibernateTemplate"/>
       </bean>
       <bean id="fechaTorneoDao" class="ar.com.futbolprode.negocio.logica.dao.impl.FechaTorneoDaoImpl" >                                   
              <property name="hibernateTemplate" ref="prodeHibernateTemplate"/>
       </bean>
       <bean id="partidoFechaDao" class="ar.com.futbolprode.negocio.logica.dao.impl.PartidoFechaDaoImpl" >                                   
              <property name="hibernateTemplate" ref="prodeHibernateTemplate"/>
       </bean>
       <bean id="resultadoDao" class="ar.com.futbolprode.negocio.logica.dao.impl.ResultadoDaoImpl" >                                   
              <property name="hibernateTemplate" ref="prodeHibernateTemplate"/>
       </bean>
       <bean id="ligaDao" class="ar.com.futbolprode.negocio.logica.dao.impl.LigaDaoImpl" >                                   
              <property name="hibernateTemplate" ref="prodeHibernateTemplate"/>
       </bean>              
       <bean id="usuarioDao" class="ar.com.futbolprode.negocio.logica.dao.impl.UsuarioDaoImpl" >                                   
              <property name="hibernateTemplate" ref="prodeHibernateTemplate"/>
       </bean>
       <bean id="rolDao" class="ar.com.futbolprode.negocio.logica.dao.impl.RolDaoImpl" >                                   
              <property name="hibernateTemplate" ref="prodeHibernateTemplate"/>
       </bean>
       <bean id="usuarioRolDao" class="ar.com.futbolprode.negocio.logica.dao.impl.UsuarioRolDaoImpl" >                                   
              <property name="hibernateTemplate" ref="prodeHibernateTemplate"/>
       </bean>
       <bean id="rolPermisoDao" class="ar.com.futbolprode.negocio.logica.dao.impl.RolPermisoDaoImpl" >                                   
              <property name="hibernateTemplate" ref="prodeHibernateTemplate"/>
       </bean>                                                 
       <bean id="permisoDao" class="ar.com.futbolprode.negocio.logica.dao.impl.PermisoDaoImpl" >                                   
              <property name="hibernateTemplate" ref="prodeHibernateTemplate"/>
       </bean>                     
</beans>
